<div class="ant-upload-card-wrapper">
    <label class="avatar-uploader" for="upload">
        <div class="ant-upload ant-upload-select-text ant-upload-select">
            <div tabindex="0" class="ant-upload" style="position:relative;">
                <InputFile id="upload" hidden OnChange="@OnChange" />
                <div class="ant-btn ant-btn-default">
                    <Icon Type="upload" Theme="outline" />
                    <span>@Text</span>
                </div>
            </div>
        </div>
    </label>

</div>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public EventCallback<InputFileChangeEventArgs> OnChange { get; set; }
}
